button.sliderBtn {
    border: none;
    
}
button.sliderBtn:hover:not(:disabled) > svg > use{
    stroke: #585CC6;

}
button.sliderBtn:disabled {
    background: #E0E0E0;
    
}
button.sliderBtn:disabled > svg > use {
    stroke: #ADADAD;
}
.error {
    border-color: #EB5757;
}
