.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.leftside-container {
    padding-left: 0;
}

.container.leftside-container {
    padding-left: 0;
}

.container.rightside-container {
    padding-right: 0;
}

.rightside-container {
    padding-right: 0;
}

.header__margin {
    margin-bottom: 88px;
}

.withIcon>div {
    justify-content: start;
}

.iconLeft>div {
    flex-direction: row-reverse;
}

u {
    text-decoration: none;
    color: #fff;
}

.iconRight>div {
    flex-direction: row;
}

.withIcon div img {
    display: block;
    max-width: 32px;
    max-height: 32px;
}

.iconRight div svg {
    margin-left: 10px;
}

.iconLeft div svg {
    margin-right: 10px;
}

@keyframes rotate {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0);
    }
    100% {
        transform-origin: 50% 50%;
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 952px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        padding: 0 15px;
    }
}